body {
    margin: 0px;
    color: white;
    background-color: rgba(4, 9, 21, 0.900);
}

img {
    width: 392,80px; height: 127px;
    margin-top: 10px;
    padding: 5px 20px;
}

.navbar {
    align-items: center;
    width: auto;
    max-height: 132px;
    color: black;
    background-color: rgb(65, 87, 139, 0.280);
    display: flex;
    margin: 0px;
    padding: 0px;
}

.main {
    color: white;
    display: flex;
}

.right {
    color: white;
    margin-left: auto;
    display: flex;
}

.sobre {
    font-size: 50px;
    text-align: auto;
    padding-top: 38px;
    padding-bottom: 38px;
}

.plano {
    text-align: center;
    font-size: 50px;
    padding-top: 38px;
    padding-bottom: 38px;
    padding-left: 80px;
    padding-right: 80px;
}

.fale {
    text-align: center;
    font-size: 50px;
    padding-top: 38px;
    padding-bottom: 38px;
    padding-right: 80px;
}

.button {
    text-align: center;
    padding: 25px 
}

button {
    background-color: rgb(217, 217, 217);
    height: 76px;
    font-size: 40px;
    font-weight: 400;
    text-align: start;
    border-radius: 300px;
    padding-right: 10px;
}

