/* Reset básico para remoção de margens e preenchimentos padrão */
* {
    margin: 0;
    padding: 0;
    font-family: 'Stoke', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html {
    background: linear-gradient(-0.2turn, #040915, #17357B, #040915);
}

/* Estilo para o conteúdo principal */
.container {
    max-width: 100%;
    margin: 25px auto; /* Margem ajustável conforme necessário */
    text-align: center;
    padding: 0 20px;
}

.box1 {
    display: flex;
    position: absolute;
    width: 440px;
    height: 90%;
    background-color: #14161B;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 40px 0px 0px 40px;
}

.box2 {
    margin-left: auto;
    width: 57.29%;
    height: 431.4px;
    justify-content: right;
    display: flex;
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #cccccc;
    z-index: 100;
    border-radius: 0px 40px 40px 0px;
}

.text {
    font-family: 'Stoke', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: white;
}

form ul {
    list-style-type: none;
    padding: 0;
}

form ul li {
    margin-bottom: 15px;
}

label {
    display: block;
    font-size: 16px;
    color: #333333;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

/* Media query para ajustar layout em telas menores */
/* @media screen and (max-width: 768px) {
    .container {
        margin: 30px auto;
    }

    .text {
        font-size: 20px;
    }

    input[type="text"] {
        font-size: 14px;
    }
} */
