* {
    margin: 0;
    padding: 0;
    font-family: 'Stoke', Arial, Helvetica, sans-serif;
}

html {
    background: linear-gradient(-0.2turn, #040915, #17357B, #040915);
}

body {
    display: flex;
    margin: 0;
    max-width: 1920px; max-height: 760px;
    align-items: center;
    justify-content: center;
}

.box1 {
    background-color: #848484;
    color: white;
    display: flex;
    position: relative;
    justify-content: center;
    width: 1200px; height: 550px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 40px;
}

.text {
    width: 322px;
    display: flex;
    height: 400px;
    margin-top: 40px;
    margin-bottom: 50px;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
    font-size: 25px;
}

.textobase {
    width: 250px; height:94px;
    position: relative;
    align-items: end;
    display: grid;
    justify-content: end;
    text-align: center;
}

.box2 {
    border-color: #14161b;
    display: flex;
    width: 1000px;
    background-color: #14161b;
    border-bottom-right-radius: 40px; border-top-right-radius: 40px;
}


