* {
    margin: 0;
    padding: 0;
    font-family: 'Stoke', Arial, Helvetica, sans-serif
}

body {
    max-width: 1920px;
    background-color: rgb(4, 9, 21, 0.900);
    color: white;
}

.nav {
    max-width: 100%;
    background-color: rgb(23, 32, 55);
    color:white;
    display: flex;
    justify-content: space-between;
    border: 2px black solid;
}

.Logo {
    max-width: 100%;
    margin: 5px;
}

a {
    color: white;
    text-decoration: none;
    padding: 0px;
    list-style-type: none;
    align-items: center;
    display: grid;
}

.main {
    margin-top: 15px; margin-bottom: 8px;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-items: center;
    font-size: 20px;
    font-family: 'Stoke', Arial, Helvetica, sans-serif;
    gap: 20px;
}

li {
    padding-left: 10px;
    padding-right: 10px;
}

.login {
    width: 240px;
    height: 60px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    font-size: 20px;
    font-family: 'Stoke', Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.storage1 {
    width: 100%;
    position: absolute;
    z-index: -1;
}

.back {
    position: relative;
}

.container1 {
    max-width: 100%;
    position: absolute;
    box-sizing: 50px;
}

.legenda1 {
    position: absolute;
    left: 3%;
    bottom: 50%;
}


