/* Reset básico para remoção de margens e preenchimentos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo para o cabeçalho */
nav {
    background-color: rgb(23, 32, 55);
    padding: 5px;
    position:-ms-page;
    width: 100%;
    z-index: 1000;
}

.nav {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin: 0;
}

.main {
    color: white;
    list-style-type: none;
    display: flex;
    align-items: center;
}

.main li {
    color: white;
    margin-right: 20px;
}

.main li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.main li a:hover {
    color: #007bff;
}

.Logo img {
    vertical-align: top;
}

.login img {
    padding: 7px;
    background-color: white;
    height: 40px;
    border-radius: 10px;
}

/* Estilo para o conteúdo principal */
.container {
    position: absolute;
    max-width: 100%;
    margin-top: 0px; /* Ajuste conforme necessário */
    text-align: center;
}

.back {
    position: absolute;
    width: 60%;
    max-width: 100%;
    height: 89.7%;
    max-height: 100%;
    z-index: 1;
}

.storage {
    max-width: 100%;
    height: 80%;
    max-height: 100%;
    margin-top: 0px;
}

.legenda {
    margin-top: 20px;
}

.legenda h1 {
    font-family: 'Stoke', sans-serif;
    font-weight: 400;
    font-size: 36px;
    color: #333333;
}

@media screen and (min-width: 1920px) {
    .storage {
        height: 40%;
    }
}

/* Media query para ajustar layout em telas menores */
@media screen and (max-width: 768px) {
    .nav {
        padding: 0;
    }
    
    .main {
        display: none;
    }

    .Logo img {
    
    }

    .container {
        margin-top: 0px;
    }

    .legenda h1 {
        font-size: 28px;
    }
}
